@model Course
<div class="col-3">
    <div class="card">
        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.courseName</h5>
            <p class="card-text">@Model.courseDescription</p>
            <p>@Model.coursePrice</p>
            <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.id" class="btn btn-danger">İncele</a>
        </div>
    </div>
</div>