<nav class="navbar navbar-expand-lg bg-danger">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav container me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/course">Course</a>
            </li>
        </ul>

    </div>
    </div>
</nav>
