@model List<Course>
<h1>Course List</h1>
<div class="row">
    @foreach (var course in Model)
    {

        <div class="col-3">
            <div class="card">
                <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@course.courseName</h5>
                    <p class="card-text">@course.courseDescription</p>
                    <p class="card-text">@course.coursePrice</p>
                    <a href="#" class="btn btn-danger">İncele</a>
                </div>
            </div>
        </div>

    }
</div>